#container {
	width: 960px;
	margin: 0 5%;
}

#content {
	margin: 40px;
	float: left;
	width: 480px;
}

.outputSample {
		margin: 10px;
	padding: 5px;
	background-color: rgb(179, 223, 159);
}

#content {
	margin: 20px;
	float: left;
	width: 480px;
}

#output {
	margin: 10px;
	padding: 5px;
	background-color: rgb(3, 19, 2);
}

#grammar {
		padding: 5px;
	margin: 10px;
	background-color: rgb(23, 124, 32);
}
